.post-form {
  padding: 24px;
  background-color: @bg-lt-gray;
}

.post-all {
  padding: 24px;
}

.post {
  background-color: @bg-lt-gray;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.timestamp {
  font-size: 10px;
  padding: 0 0 12px 0;
}

.post-body {
  font-size: 14px;
}

.post-img {
  margin: 12px 0 12px 0;
  max-width: 100%;
}

.file-selector {
  padding: 12px 0 0 0;
}

#selectedImage {
  max-width: 400px;
  padding: 12px 0 0 0;
}

.delete-post {
  max-width: 100%;
  border: 0;
  margin: 16px 0 0 0;
  padding: 10px 0 10px 0;
  color: #fff;
  background-color: #333;
  border-radius: 6px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
}

.delete-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  padding: 24px;
  background-color: #FFF;
  border-radius: 6px;
}

.grey {
  background-color: darkgray;
}

.red {
  background-color: red;
}

.flex-div {
  flex: 1;
}

.cancel-button {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  border: none;
  margin-right: 15px;
}

.delete-button {
  background-color: red;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  border: none;
}

.delete-buttons {
  opacity: 1;
  display: flex;
}
