<div class="post-form">
  <form action="/post" method="POST">
    <input type="text" name="postBody" placeholder="Say something...">
    <button type="submit">Create Post</button>
  </form>
</div>

<div class="post-all">
  <% allPosts.forEach(p => { %>
    <div class="post">
      <div class="username">
        <%= p.user.fullName %>
      </div>

      <div class="timestamp">
        <%= new Date(p.createdAt).toLocaleTimeString()
        + " " + new Date(p.createdAt).toLocaleDateString() %>
      </div>

      <div class="post-body">
        <%= p.text %>
      </div>

    </div>
  <% }) %>
</div>
